<!DOCTYPE html>
<html lang="en">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

<title> Royal Enfield - India </title>
<meta name="description" content="Welcome to Royal Enfield">
<link rel="shortcut icon" href="dist/../../global/images/fav.png">
<head>
	<!--dependencies-->
	<link rel="stylesheet" type="text/css" href="../../dependencies/css/bootstrap.min.css">
	<!--global-->
	<link rel="stylesheet" type="text/css" href="../../global/css/common.css">
	<link rel="stylesheet" type="text/css" href="css/accordion.css">
	<link rel="stylesheet" type="text/css" href="css/event-winner-list.css">
	
</head>

<body class="re-master">
<section class="events-winning">
		<h2 class="text-heading">Dirt Track Winner list from Rider Mania 2017</h2>

		<div class="tab-comp">
			<ul class="nav nav-tabs">
			    <li>
				    <a data-toggle="tab" href="#tab1" class="active show">
				    	<p>Day 01</p>
				    	<h3>18 July</h3>
					</a>
				</li>
			    <li>
			    	<a data-toggle="tab" href="#tab2">
			    		<p>Day 02</p>
				    	<h3>19 July</h3>
					</a>
				</li>
			    <li>
			    	<a data-toggle="tab" href="#tab3">
				    	<p>Day 03</p>
					    <h3>20 July</h3>
					</a>
				</li>
			</ul>
		</div>

		<div class="tab-content">
			<div id="tab1" class="tab-pane fade active show">
				<ul class="accordion">
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
				</ul>	

			</div>

			<div id="tab2" class="tab-pane fade">
				<ul class="accordion">
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div id="tab3" class="tab-pane fade">
				<ul class="accordion">
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
					<li class="popular_question">
						<div class="acc-tab active"><span>Men’s 350(Expert)</span></div>
						<div class="acc-content">
							<div class="event-win-content">
								<ul class="event-win-list">
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>2st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>1st Position</h5>
										<p>Aniket Singh Pathania</p>
									</li>
									<li>
										<h5>Holeshot</h5>
										<p>Aniket Singh Pathania</p>
									</li>
								</ul>
								<div class="event-win-list-img"><img srcset="../../global/images/rides-pre-slide-01.jpg" alt="Royal Enfield"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>


		</div>

	</section>
</body>
<!--dependencies-->
<script type="text/javascript" src="../../dependencies/js/jquery.min.js"></script>
<script type="text/javascript" src="../../dependencies/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/accordion.js"></script>
<!--global-->
</html>