<sly data-sly-test="${wcmmode.edit}">
    <p>Click Here to Author Event Winner List.</p>

    <aside class="col-12 col-sm-12">
        <sly data-sly-resource="${'tab' @ resourceType='wcm/foundation/components/parsys' }"/>
    </aside>
    <p>END: Event Winner List Component</p>
</sly>

<sly data-sly-test="${!wcmmode.edit}">
    <sly data-sly-use.eventWinnerList="in.shabhushan.core.slingmodel.EventWinnerList"/>
    <h2 class="text-heading">${eventWinnerList.title}</h2>

    <div class="tab-comp">
        <ul class="nav nav-tabs">
            <sly data-sly-list="${eventWinnerList.tab}">
                <li>
                    <a data-toggle="tab" href="#tab${itemList.index}">
                       <p>${item.title}</p>
                        <h3>${item.subtitle}</h3>
                    </a>
                </li>
            </sly>
        </ul>
    </div>

    <div class="tab-content">
        <sly data-sly-list="${eventWinnerList.tab}">
            <div id="tab${itemList.index}" class="tab-pane fade">
                <ul class="accordion">
                    <sly data-sly-list.tabEntry="${item.tabEntry}">
                        <li class="popular_question">
                            <div class="acc-tab active"><span>${tabEntry.eventTitle}</span></div>
                            <div class="acc-content">
                                <div class="event-win-content">
                                    <ul class="event-win-list">
                                        <sly data-sly-list.tabEntryItem="${tabEntry.eventWinnerList}">
                                            <li>
                                                <h5>${tabEntryItem.name}</h5>
                                                <p>${tabEntryItem.position}</p>
                                            </li>
                                        </sly>
                                    </ul>
                                    <div class="event-win-list-img"><img srcset="${tabEntry.eventImage}" alt="${tabEntry.eventImageAltText}"></div>
                                </div>
                            </div>
                        </li>
                    </sly>
                </ul>
            </div>
        </sly>
    </div>
</sly>
